<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Blog | <%= blog.title %></title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="./images/blog-icon.svg" type="image/x-icon">
</head>
<body>
    <%- include('partials/header', {email: email}); %>

    <div class="container blog-wrapper">
        <div class="recent-blogs">
            <h2 class="recent-blogs-title">Recent blog posts</h2>

            <div class="recent-blogs-content">
                <% blogs.splice(0, 6).forEach((blog, index)=>{ %>
                    <div>
                        <a href="/blogs/<%= blog.id %>">
                            <figure>
                                <img class="recent-blog-image" src="/images/thumbnails/normal/<%= index %>.png" alt="thumbnail">
                            </figure>
                        </a>

                        <div>
                            <p class="recent-blog-date"><%= blog.formatedDate %></p>
                        </div>
                        <a class="recent-blog-title-wrapper" href="/blogs/<%= blog.id %>">
                            <h3 class="recent-blog-title"><%= blog.title.slice(0, 20) %> </h3>

                            <img src="/images/arrow-up-right-light.svg" alt="arrow-up-right-light">
                        </a>
                        <p class="recent-blog-description"><%= blog.description.slice(0, 90) %> </p>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="blog-content">
            <p class="blog-date"><%= blog.formatedDate %></p>

            <h2 class="blog-title"><%= blog.title %></h2>

            <p class="blog-text"><%= blog.content %></p>
        </div>
    </div>

    <div class="comments">
        <h2 class="comments-h2 container">Comments</h2>
        <textarea class="comments-textarea container"></textarea>
        <div class="comments-form container">
            <button class="comments-button">Post Comment</button>
        </div>
    </div>



    <div class="sarah container">
        <div class="sarah-header">
            <div class="sarah-header-div-1">
                <figure class="sarah-header-div-1-figure">
                    <img class="sarah-header-div-1-img" src="/images/image.png" alt="image">
                </figure>
                <div class="sarah-header-div-1-div">
                    <h3 class="sarah-header-div-1-div-h3">Sarah Chen</h3>
                    <p class="sarah-header-div-1-div-p">Dec 12, 2023</p>
                </div>
            </div>
            <div class="sarah-header-div-2">
                <figure class="sarah-header-div-2-figure">
                    <img class="sarah-header-div-2-img" src="/images/frame.png" alt="image">
                </figure>
                <p class="sarah-header-div-2-p">24</p>
            </div>
        </div>
        <div class="sarah-body">
            <div class="sarah-body-div">
                <p class="sarah-body-div-p-1">This article on grid systems is incredibly helpful! I've been struggling with responsive layouts and this really cleared things up. The examples from NYT and Behance really drive the concepts home.</p>
                <p class="sarah-body-div-p-2">Reply</p>
            </div>
        </div>
        <div class="sarah-footer">
            <div class="sarah-footer-header">
                <div class="sarah-footer-header-div-1">
                    <div class="sarah-footer-header-div-1-div">
                         <figure class="sarah-footer-header-div-1-div-figure">
                             <img class="sarah-footer-header-div-1-div-img" src="/images/image.png" alt="image">
                         </figure>
                        <div class="sarah-footer-header-div-1-div-div">
                            <h3 class="sarah-footer-header-div-1-div-div-h3">Mark Thompson</h3>
                            <p class="sarah-footer-header-div-1-div-div-p">Dec 12, 2023</p>
                        </div>
                    </div>
                </div>
                <div class="sarah-footer-header-div-2">
                    <figure class="sarah-footer-header-div-2-figure">
                        <img class="sarah-footer-header-div-2-img" src="/images/frame.png" alt="image">
                    </figure>
                    <p class="sarah-footer-header-div-2-p">8</p>
                </div>
            </div>
            <div class="sarah-footer-footer">
                <p class="sarah-footer-footer-p">Totally agree! The visual examples really help understand the different types of grids. I've been using modular grids in my projects and they work great for responsive designs.</p>
            </div>
        </div>
    </div>





    <div class="sarah container">
        <div class="sarah-header">
            <div class="sarah-header-div-1">
                <figure class="sarah-header-div-1-figure">
                    <img class="sarah-header-div-1-img" src="/images/image.png" alt="image">
                </figure>
                <div class="sarah-header-div-1-div">
                    <h3 class="sarah-header-div-1-div-h3">David Kumar</h3>
                    <p class="sarah-header-div-1-div-p">Dec 11, 2023</p>
                </div>
            </div>
            <div class="sarah-header-div-2">
                <figure class="sarah-header-div-2-figure">
                    <img class="sarah-header-div-2-img" src="/images/frame.png" alt="image">
                </figure>
                <p class="sarah-header-div-2-p">19</p>
            </div>
        </div>
        <div class="sarah-body">
            <div class="sarah-body-div">
                <p class="sarah-body-div-p-1">The section about breaking the grid was particularly interesting. It's good to know when and why we might want to break these rules for visual impact. Would love to see more examples of successful grid-breaking in future articles!</p>
                <p class="sarah-body-div-p-2">Reply</p>
            </div>
        </div>
    </div>








    <div class="sarah container">
        <div class="sarah-header">
            <div class="sarah-header-div-1">
                <figure class="sarah-header-div-1-figure">
                    <img class="sarah-header-div-1-img" src="/images/image.png" alt="image">
                </figure>
                <div class="sarah-header-div-1-div">
                    <h3 class="sarah-header-div-1-div-h3">Emma Wilson</h3>
                    <p class="sarah-header-div-1-div-p">Dec 11, 2023</p>
                </div>
            </div>
            <div class="sarah-header-div-2">
                <figure class="sarah-header-div-2-figure">
                    <img class="sarah-header-div-2-img" src="/images/frame.png" alt="image">
                </figure>
                <p class="sarah-header-div-2-p"15</p>
            </div>
        </div>
        <div class="sarah-body">
            <div class="sarah-body-div">
                <p class="sarah-body-div-p-1">Question about gutters - in the Ritual example, are the gutters consistent across different breakpoints? Or do they adjust based on screen size? Would be interesting to see how they handle this.</p>
                <p class="sarah-body-div-p-2">Reply</p>
            </div>
        </div>
        <div class="sarah-footer">
            <div class="sarah-footer-header">
                <div class="sarah-footer-header-div-1">
                    <div class="sarah-footer-header-div-1-div">
                        <figure class="sarah-footer-header-div-1-div-figure">
                            <img class="sarah-footer-header-div-1-div-img" src="/images/image.png" alt="image">
                        </figure>
                        <div class="sarah-footer-header-div-1-div-div">
                            <h3 class="sarah-footer-header-div-1-div-div-h3">Alex Rivera</h3>
                            <p class="sarah-footer-header-div-1-div-div-p">Dec 11, 2023</p>
                        </div>
                    </div>
                </div>
                <div class="sarah-footer-header-div-2">
                    <figure class="sarah-footer-header-div-2-figure">
                        <img class="sarah-footer-header-div-2-img" src="/images/frame.png" alt="image">
                    </figure>
                    <p class="sarah-footer-header-div-2-p">12</p>
                </div>
            </div>
            <div class="sarah-footer-footer">
                <p class="sarah-footer-footer-p">From what I've seen in their responsive design, they actually decrease gutter sizes on mobile while maintaining proportions. It helps save space while keeping the visual hierarchy.</p>
            </div>
        </div>
        <div class="sarah-footer">
            <div class="sarah-footer-header">
                <div class="sarah-footer-header-div-1">
                    <div class="sarah-footer-header-div-1-div">
                        <figure class="sarah-footer-header-div-1-div-figure">
                            <img class="sarah-footer-header-div-1-div-img" src="/images/image.png" alt="image">
                        </figure>
                        <div class="sarah-footer-header-div-1-div-div">
                            <h3 class="sarah-footer-header-div-1-div-div-h3">Emma Wilson</h3>
                            <p class="sarah-footer-header-div-1-div-div-p">Dec 11, 2023</p>
                        </div>
                    </div>
                </div>
                <div class="sarah-footer-header-div-2">
                    <figure class="sarah-footer-header-div-2-figure">
                        <img class="sarah-footer-header-div-2-img" src="/images/frame.png" alt="image">
                    </figure>
                    <p class="sarah-footer-header-div-2-p">8</p>
                </div>
            </div>
            <div class="sarah-footer-footer">
                <p class="sarah-footer-footer-p">Ah, that makes sense! Thanks for the clarification Alex.</p>
            </div>
        </div>
    </div>







    <%- include('partials/footer'); %>
</body>
</html>